{% extends "base.j2.html" %}

{% block title %}New Entry{% endblock %}

{% block body %}
    <div class="max-w-7xl mx-auto bg-white p-6 rounded-lg shadow-lg mb-6">
        {% if term %}
            <div class="bg-red-500 text-white p-4 rounded-lg mb-4">
                <p>Term "{{ term }}" not found.</p>
            </div>
        {% endif %}
        <h2 class="text-2xl font-bold mb-4 text-center">Add New Term</h2>
        <form action="/add" method="post" class="max-w-md mx-auto">
            <div class="mb-4">
                <label for="term" class="block text-sm font-medium text-gray-700">Term</label>
                <input type="text" name="term" id="term" class="block w-full p-2 border border-gray-300 rounded-lg"
                       value="{{ term if term else '' }}"
                       required>
            </div>
            <div class="mb-4">
                <label for="url" class="block text-sm font-medium text-gray-700">URL</label>
                <input type="url" name="url" id="url" class="block w-full p-2 border border-gray-300 rounded-lg"
                          value="http://"
                       required>
            </div>
            <button type="submit" class="bg-blue-700 text-white px-4 py-2 rounded-lg hover:bg-blue-800">Add</button>
        </form>
    </div>
{% endblock %}