{% extends "base.j2.html" %}

{% block title %}Terms{% endblock %}

{% block body %}
    <div class="max-w-7xl mx-auto bg-white p-6 rounded-lg shadow-lg mb-6">
        <h2 class="text-2xl font-bold mb-4 text-center">Search Term</h2>
        <form id="search-form" class="max-w-md mx-auto">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="text" id="search-term"
                       class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                       placeholder="google, files..." required/>
                <button type="submit"
                        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                    Search
                </button>
            </div>
        </form>
    </div>
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-bold mb-4">Newly Added</h2>
            <table class="min-w-full w-full divide-y divide-gray-200">
                <tbody class="bg-white divide-y divide-gray-200">
                {% for term, created_at in newly_added_terms %}
                    <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap w-10">{{ loop.index }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ term }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                            <a href="/edit/{{ term }}" class="text-blue-500 hover:underline hidden">Edit</a>
                            <a href="/delete/{{ term }}" class="text-red-500 hover:underline hidden">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-bold mb-4">Most Frequent</h2>
            <table class="min-w-full w-full divide-y divide-gray-200">
                <tbody class="bg-white divide-y divide-gray-200">
                {% for term, usage_count in most_commonly_used_terms %}
                    <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap w-10">{{ loop.index }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                                {{ term }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                            <a href="/edit/{{ term }}" class="text-blue-500 hover:underline hidden">Edit</a>
                            <a href="/delete/{{ term }}" class="text-red-500 hover:underline hidden">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('search-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const term = document.getElementById('search-term').value;
            window.location.href = `/go/${term}`;
        });

        document.querySelectorAll('tr').forEach(row => {
            row.addEventListener('mouseover', () => {
                row.querySelectorAll('a').forEach(link => link.classList.remove('hidden'));
            });
            row.addEventListener('mouseout', () => {
                row.querySelectorAll('a').forEach(link => link.classList.add('hidden'));
            });
        });
    </script>
{% endblock %}